body {
    margin: 100px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 25px;
    background-color: #DEC9FF;
    color: #444;
  }
  
  .box {
    background-color: #DEC9FF;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 0px;
    font-size: 100%;

  
  }

  