  .wrapper {
    display: grid;
    grid-template-columns: 161px 161px 161px;
    grid-gap: 25px;
    background-color: #DEC9FF;
    color: #444;
    margin-bottom: 40px;

  }

  .wrapper h1 {
    margin-bottom: 10px;
  }
  
  .box {
    background-color: #DEC9FF;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 0px;
    font-size: 100%;

  
  }

  